@page


<script>
	function onItemCaptionToolbarUpdated(e) {
		if (e.itemName === 'chartDashboardItem1' || e.itemName === 'chartDashboardItem2') {
			e.options.stateItems.push({
				text: 'Switch Arguments',
				type: "menu",
				menu: {
					type: 'list',
					items: ['OrderDate - Year', 'OrderDate - Month-Year'],
					selectionMode: 'single',
					itemClick: function (item) {
						var viewerAPI = dashboardControl.findExtension("viewer-api");
						var tabContainerComponentName = "tabContainerDashboardItem1";
						if (item === 'OrderDate - Year')
							viewerAPI.setSelectedTabPageIndex(tabContainerComponentName, 0);
						else
							viewerAPI.setSelectedTabPageIndex(tabContainerComponentName, 1);
					}
				},
			})
		}
	}
</script>

<div style="position: absolute; left: 0; top: 0; right: 0; bottom: 0;">
	@(Html.DevExpress().Dashboard("dashboardControl")
    .Width("100%")
    .Height("100%")
    .UseNeutralFilterMode(true)
	.WorkingMode(DevExpress.DashboardWeb.WorkingMode.ViewerOnly)
    .OnBeforeRender("onBeforeRender")
    .Extensions(ext => ext.ViewerApi(vApi => vApi.OnItemCaptionToolbarUpdated("onItemCaptionToolbarUpdated")))
)
</div>